{{!-- 
  /**
  * Copyright (c) 2022, Thaís Cailet, @thaiscmky. All rights reserved.
  * Copyrights licensed under GPL-2.0.
  * See the accompanying LICENSE.txt file for terms.
  */ 
--}}
<div class="requests list-group">
  {{#each requests}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>