{{!-- 
  /**
  * Copyright (c) 2022, Thaís Cailet, @thaiscmky. All rights reserved.
  * Copyrights licensed under the New BSD License.
  * See the accompanying LICENSE.txt file for terms.
  */ 
--}}
<div class="request card">
  <div class="card-header">
    <h2>Edit Workshop Request</h2>
  </div>
  <form id="edit-request-form" class="card-body">
    <input type="hidden" name="post-id" value="{{request.id}}" />

    <label class="form-label" for="request-title">Framework/Library/Technology</label>
    <input type="text" name="request-title" value="{{request.title}}" class="form-input" />

    <label class="form-label" for="request-url">Technology's Documentation URL</label>
    <input type="url" name="request-url" id="request-url" placeholder="{{request.url || "https://example.com"}}" pattern="https://.*" required class="form-input"/>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/js/edit.js"></script>