{{!-- 
  /**
  * Copyright (c) 2022, Thaís Cailet, @thaiscmky. All rights reserved.
  * Copyrights licensed under the New BSD License.
  * See the accompanying LICENSE.txt file for terms.
  */ 
--}}
<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
    <br/>No account? <a type="button" href="/signup">Register</a>
  </form>
</div>

<script src="/js/login.js"></script>