{{!-- 
  /**
  * Copyright (c) 2022, Thaís Cailet, @thaiscmky. All rights reserved.
  * Copyrights licensed under GPL-2.0.
  * See the accompanying LICENSE.txt file for terms.
  */ 
--}}
<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div class="card-body">
    <form id="signup-form" class="row g-3">
      <div class="row mt-3 mb-3">
        <div class="col-auto">
          <label for="username-signup" class="form-label">Username</label>
          <input type="text" class="form-control" id="username-signup" />
        </div>
        <div class="col-auto">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" id="password-signup" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <button type="submit" id="signup-btn" class="btn btn-primary mb-3">Signup</button>
          <br/>Already have an account? <a href="/login">Login</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>